.home {
  display: flex;
  flex-direction: column;
}

.home li {
  margin: 0.25rem;
  margin-bottom: 1rem;
}
.form {
  flex: 1;
}

.form * {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .home {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
  }
  .home li {
    margin: 0.5rem;

    flex: 1;
    display: flex;
  }

  .form {
    flex: 1;
    min-width: 300px;
  }
}
